* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

.navbar_top {
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, #0031AF, #C27500);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar_top_text {
    width: 166px;
    font-size: 16px;
    font-weight: 400;
}

.navbar_bottom {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

.navbar_bottom_cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_bottom_card {
    display: flex;
}

.logo {
    width: 103px;
    height: 42px;
}

.navbar_bottom_card_text {
    margin-top: 30px;
}

.navbar_bottom_lists {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar_bottom_link {
    color: white;
    font-size: 14px;
    font-weight: 400;
    transition: 0.5s;
}

.navbar_bottom_link:hover {
    color: #ED8E00;
}
.header{
    width: 100%;
    height: 640px;
    position: relative;
}
.header_bg{
    width: 100%;
    height: 100%;
}
.header_cards{
    position: absolute;
    top: 150px;
    z-index: 5;
}
.header_cards_title {
    font-size: 64px;
    font-weight: 700;
    color: white;
    
}

.header_cards_text {
    font-size: 16px;
    font-weight: 400;
    color: #C8C8C8;
    width: 570px;
    margin: 30px 0 50px;
}

.header_card {
    width: 166px;
    height: 45px;
    color: #000000;
    border-radius: 4px;
    background-color: #F18128;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parda {
    width: 1140px;
    height: 640px;
    top: 180.5px;
    color: #070F19BF;
    position: absolute;
    top: 160px
}

.overlay {
    position: absolute;
}
.header_parda{
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%; 
   background-color: #000000;
   opacity: 0.7;
}

.header_cards{
    position: absolute;
    top: 150px;
    z-index: 5;
}
.header_cards_title{
    font-weight: 700;
    font-size: 64px;
    color: white;
}
.header_cards_text{
    font-size: 16px;
    font-weight: 400;
    color: #C8C8C8;
    width: 570px;
    margin: 30px 0 50px;
}
/* black window */
.widow{
    width: 100%;
    height: 500px;
}
.vidow_cards{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.vidow_card_txt{
    width: 500px;
    height: 100%;

}
.vidow_card_video{
    width: 500px;
    height: 100%;
    position: relative;
}
.vidow_card_img{
    width: 445px;

}
.vidow_card_text{
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin: 50px 0;
}
.vidow_card_btn{
    width: 166px;
    height: 45px;
    background-color: #F18128;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;

}
.vidow_card_video_parda{
    width: 100%;
    height: 100%;   
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, white, rgba(0, 0, 0, 0));
}
.vidow_card_videos{
    width: 100%;
    height: 500px;
        
}
/* main start */
.main{
    width: 100%;
    
}

/* films start */
.films{
    width: 100%;
    background-color: #040D1F;
    padding-bottom: 60px;
}
.films_title{
    font-size: 36px;
    font-weight: 400;
    color: #F18128;
    padding-top: 40px;

}
.films_title::after{
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background-color: #F18128;
    margin-bottom: 50px;

}
.films_cards{
    display: flex;
    justify-content: space-between;
}
.film_card{
    width: 255px;
    height: 360px;
    border: 1px solid white;
    position: relative;
    
}
.films_card_img{
    width: 100%;
    height: 100%;


}
.film_card_parda{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    color: white;
    z-index: 5;

}
.film_card_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient( #F1812859, #070F19CC);
    

}
.film_card_parda_time{
    width: 100px;
    height: 24px;
    border: 1px solid white;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0 30px;

}
.film_card_parda_title{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 12px;
    
}
/* Collections */
.Collections{
    width: 100%;
    background-color:#040D1F;
  
}
.Collections_title{
    font-size: 36px;
    font-weight: 400;
    color: #F18128;
    padding-top: 40px;
}
.Collections_title::after{
    content: '';
    display: block;
    width: 165px;
    height: 2px;
    background-color: #F18128;
    margin-bottom: 50px;

}
.Collections_cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collection_card{
    width: 350px;
    height: 193px;
    position: relative;

}
.Collections_cards_img{
    width: 100%;
    height: 100%;
}
.Collections_cards_parda{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 5;
}
.collection_card_bg{
    position: absolute;
    top: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #070F19, #317209);

}